{% extends 'head_page/main.html' %}

{% block main_section %}
  <h3 class="mt-4">Применяемые методики</h3>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">Определение массы вещества, участвующей в аварии</h5>
      <p class="card-text">
        - Приказ МЧС РФ от 10 июля 2009 г. N 404 "Об утверждении методики определения расчетных величин
        пожарного риска на производственных объектах"
        (Приложение 1. I. Истечение жидкости и газа, II. Количественная оценка массы горючих веществ,
        поступающих в окружающее пространство в результате возникновения пожароопасных ситуаций)
      </p>
      <p class="card-text">
        - Приказ МЧС РФ от 25 марта 2009 г. N 182 "Об утверждении свода правил
        "Определение категорий помещений, зданий и наружных установок по взрывопожарной и пожарной опасности"
        (Приложение В. В.1 Методы расчета критериев пожарной опасности для горючих газов и паров)
      </p>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">Интесивность и доза теплового излучения</h5>
      <p class="card-text">
        - Приказ МЧС РФ от 25 марта 2009 г. N 182 "Об утверждении свода правил
        "Определение категорий помещений, зданий и наружных установок по взрывопожарной и пожарной опасности"
        (Приложение В. В.5 Метод расчета интенсивности теплового излучения и Приложение Г. Методика вычисления условной вероятности поражения человека)
      </p>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">Избыточное давление взрыва</h5>
      <p class="card-text">
        - Приказ МЧС РФ от 25 марта 2009 г. N 182 "Об утверждении свода правил
        "Определение категорий помещений, зданий и наружных установок по взрывопожарной и пожарной опасности"
        (Приложение В. В.3 Расчет избыточного давления и импульса волны давления при сгорании смесей горючих газов и
        паров с воздухом в открытом пространстве и Приложение Г. Методика вычисления условной вероятности поражения человека)
        - Руководство по безопасности "Методика оценки последствий аварийных взрывов топливно-воздушных смесей"
        (утв. приказом Федеральной службы по экологическому, технологическому и атомному надзору от 31 марта 2016 г. N 137)
      </p>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">Рассеивание "легкого" и "тяжелого" газа</h5>
      <p class="card-text">
        - Assael, Marc J. Fires, explosions, and toxic gas dispersions : effects calculation and risk analysis / Marc J. Assael,
        Konstantinos E. Kakosimos. Includes bibliographical references and index. ISBN 978-1-4398-2675-1
      </p>
      <p class="card-text">
        - Workbook on the Dispersion of Dense Gases. By R. E. BRITTER and J. MCQUAID Health & Safety Executive.
      </p>
    </div>
  </div>
{% endblock main_section %}
